.client_cont{
    margin-top: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    img{
        width: 18%;
    }
}

@media screen and (min-width:992px){
    .client_cont{
        width: 500px;
        justify-self: end;
        position: absolute;
        bottom: 0;
        left: 20;
    }
}