.list_link{
    margin-top: 25px;
    a{
        display: flex;
        align-items: center;
        white-space: noWrap;
        img{
            width: 20px;
            margin-right:15px;
        }
    }
}
@media screen and (min-width:992px){
    .list_link{
        margin-top: 16px;
        a{
            font-size: 15px;
        }
    }
}
